body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #212121;
}

a[href] {
  text-decoration: none;
  color: #212121;
}

.navigation {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo > span {
  color: #2196f3;
}

.logo a:hover {
  color: aqua;
}

.logo > span:hover {
  color: aqua;
}

.navigation > li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation a:hover {
  color: aqua;
}

.navigation a:focus {
  color: red;
}

.adres a:hover {
  text-decoration: none;
  color: aqua;
}

.adres a:focus {
  color: red;
}

.services {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.services h1{
  font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
}

.button1 {
  background: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.button1:hover,
.button1:focus {
  color: red;
}

.heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.general p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  color: #757575;
}

.heading2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 2, 62;
  text-align: center;
  letter-spacing: 0.03em;
}

.photoshadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.figcaption p{
  font-weight: 400;
    font-size: 16px;
    line-height: 1.18;    
    letter-spacing: 0.03em;  
    color: #757575;
}

.figcaption h5{
  font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
    letter-spacing: 0.03em;
}
